/* ########## Header Section Start ########## */
/* ########## Header Section End ########## */


/* ########## Hero Section Start ########## */
.hero{
    display: flex;
    align-items: center;
    column-gap: 4rem;
    justify-content: space-between;
}
.hero_text{
    width:62%;
}
.hero_text > h1{
    font-weight: bold;
    font-size: 52px;
    line-height: 70px;
    color: var(--secondary-color);
}
.hero_text > p{
    margin: 16px 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}
.hero_img{
    width:38%;
    height: 414px;
}
.primary_btn{
    border-radius: 41px;
}
/* ########## Hero Section End ########## */


/* ########## Logo Section Start ########## */
.all_logos{
    padding: 22px 10px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 4em;
    text-align: center;
}
/* ########## Logo Section End ########## */

/* ########## Product Section Start ########## */
.all_products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
.product{
    width: 330px;
    height: 475px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 16px;
}
.product_thumbnail img{
    width: 300px;
    height: 256px;
    margin-bottom: 16px;
}
.product_title{
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    color: var(--secondary-color);
}
.product_pricing{
    margin-top: 6px;
    font-size: 24px;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.87);
}
.ratting{
    align-items: center;
    margin-bottom: 6px;
}
.ratting > div > .fas{
    color: #FB8200;
    font-size: 12px;
}
.ratting > span{
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    font-family: Roboto;
    color: #5E6366;
    margin-left: 8px;
}
.product_details > p{
    color: #787885;
    font-size: 15px;
    line-height: 143%;
}
.see_more{
    margin-top: 50px;
    display: grid;
    justify-content: flex-end;
}
.see_more > a{
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
    font-size: 16px;
    line-height: 24px
}
/* ########## Product Section End ########## */


/* ########## Feature Section Start ########## */
.feature{
    align-items: center;
    column-gap: 3em;
}
.feature_img img{
    width: 404px;
    height: 270px;  
}
.feature_text > h3{
    font-weight: bold;
    font-size: 38px;
}
.feature_text > p{
    color: #6C6C6C;
    font-size: 16px;
    line-height: 28px;
    margin: 16px 0;
}
/* ########## Feature Section End ########## */


/* ########## Contact Section Start ########## */
.contact{
    column-gap: 3em;
}
.map{
    width: 50%;
}
.form{
    width: 50%;
}
.form input{
    display: block;
    margin-bottom: 16px;
    padding: 10px;
    outline: none;
    width: 100%;
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid var(--primary-color);
}
.form textarea{
    padding: 10px;
    font-size: 16px;
    outline: none;
    resize: none;
    width: 100%;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
}
.form input:focus, .form textarea:focus{
    box-shadow: 0 0 20px 2px #e02c6e52;
}
.form_btn{
    border-radius: 30px;
    margin-top: 10px;
}
/* ########## Contact Section End ########## */


/* ########## Footer Section Start ##########  */
footer{
    text-align: center;
    color: #FFFFFF;
    background-color: var(--dark);
    padding: 50px 0;
}
footer > h3{
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 8px;
}
footer > p{
    font-size: 14px;
    line-height: 24px;
}
footer > .social_link ul{
    display: flex;
    margin-top: 15px;
    justify-content: center;
}
.social_link li{
    list-style: none;
    margin-left: 20px;
    background-color: #22213C;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    line-height: 32px;
    color: hsla(0, 0%, 100%, 0.055);
}
.social_link li a{
    text-decoration: none;
    font-size: 17px;
    color: white;
    padding: 5px;
}
/* ########## Footer Section End ########## */




/* ------------------ Media Queries ------------------ */

/* Mobile Devices */
@media screen and (max-width: 687px) {
    section{
        padding: 6% ;
    }
    .hero{
        flex-direction: column;
        justify-content: center;
    }
    .container{
        padding-bottom: 14%;
        width: 100%;
    }
    .hero_img{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 240px;
    }
    .hero_img img{
        width: 202px;
        height: 190px;
        object-fit: cover;
    }
    .hero_text > h1{
        font-size: 28px;
        line-height: 42px;
        text-align: center;
    }
    .hero_text > p{     
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
    }
    .primary_btn{
        font-weight: 500;
        font-size: 13px;
        line-height: 24px;
        padding:4px 12px;
        margin-left: 52px;
    }
    .all_logos{
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 1em;
        text-align: center;
    }
    .logo img{
        width: 51.17px;
        height: 15.24px;
    }
    .all_products{
        grid-template-columns: repeat(1, 1fr);
    }
    .feature{
        flex-direction: column;
    }
    .feature_img img{
        width: 299px;
        height: 188px;
    }
    .feature_text h3{
        font-size: 24px;
        line-height: 36px;
        text-align: center;
    }
    .feature_text p{
        font-size: 16px;
        line-height: 28px;
        text-align: center;
    }
    .contact{
        flex-direction: column;
        text-align: center;
    }
    .map{
        margin-bottom: 30px;
        width: 90%;
    }
    .form{
        width: 90%;
    }
    .form input, .form textarea{
        display: inline-block;
    }
}

/* Tablet Devices */
@media only screen and (min-width:688px) and (max-width:992px) {
    section{
        padding: 6% ;
    }
    .hero_img{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .hero_img > img{
       width: 220px;
       height: 200px; 
       object-fit: cover;
    }
    .all_logos{
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 1em;
        text-align: center;
    }
    .all_products{
        grid-template-columns: repeat(2, 1fr);
    }
    .feature{
        text-align: center;
        flex-direction: column;
    }
    .contact{
        /* flex-direction: column; */
        text-align: center;
    }
}

/* Big Tablet Devices */
@media only screen and (min-width:993px) and (max-width:1130px) {
    section{
        padding: 7% ;
    }
    .all_logos{
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 1em;
        text-align: center;
    }
    .all_products{
        grid-template-columns: repeat(2, 1fr);
        grid: gap 1.5em;;
    }
    .hero_img{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .hero_img > img{
        width: 285px;
        height: 250px; 
        object-fit: cover;
    }
}